---
layout: default
---
<!-- Page Heading -->
<h1 class="my-4">Welcome to Scores Labs</h1>
<p><em>the Innovation Space for America Scores Bay Area</em></p>

<div class="row">
{% assign repos = site.github.public_repositories | sort: 'id' %}
{% for repo in repos %}
<div class="col-lg-4 col-sm-6 portfolio-item my-3">
  <div class="card h-200">
    <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
    <h5 class="card-header">
      <a href="{{ repo.html_url  }}" style="color: black;" class="card-link">{{ repo.name }}</a>
      <span class="badge badge-info">{{ repo.language }}</span>
      {% if repo.license %}{% if repo.license.spdx_id %}{% if repo.license.spdx_id != "NOASSERTION" %}
      <a href="https://spdx.org/licenses/{{ repo.license.spdx_id }}.html" target="_blank" class="badge badge-primary">
      {{ repo.license.spdx_id }}</a>{% endif %}{% endif %}{% endif %}
      {% if repo.archived %}<span class="badge badge-secondary">Archived</span>{% endif %}
    </h5>
    <div class="card-body">
      <a class="github-button" href="https://github.com/{{ repo.full_name }}/fork" data-show-count="true" aria-label="Fork {{ repo.full_name }} on GitHub">Fork</a>
      <a class="github-button" href="https://github.com/{{ repo.full_name }}" data-show-count="true" aria-label="Star {{ repo.full_name }} on GitHub">Star</a>
      <p class="card-text">{{ repo.description | markdownify }}</p>
      <!-- <a href="{{ repo.html_url }}" class="card-link">GitHub</a> -->
      {% if repo.homepage and repo.homepage != "" %}<a href="{{ repo.homepage }}" class="card-link">Homepage</a>{% endif %}
    </div>
  </div>
</div>
{% endfor %}
</div>

<div class="formContainer">
  <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    <h3>Interested in joining? <br> Please connect by filling out this form!</h3>
    <input type=hidden name="oid" value="00D50000000NVw6">
    <input type=hidden name="retURL" value="http://developers.americascoresbayarea.org">

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
    <!--  these lines if you wish to test in debug mode.                          -->
    <input type="hidden" name="debug" value=1>
    <input type="hidden" name="debugEmail" value="support@americascoresbayarea.org">
    <ul class="flex-fields">
      <li>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" maxlength="40"/>
      </li>
      <li>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" maxlength="80"/>
      </li>
      <li>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" maxlength="80"/>
      </li>
      <li>
        <label for="company">Company</label>
        <input type="text" id="company" name="company" maxlength="40"/>
      </li>
      <li>
        <label for="city">City</label>
        <input type="text" id="city" name="city" maxlength="40"/>
      </li>
      <li>
        <label for="state">State/Province</label>
        <input type="text" id="state" name="state" maxlength="20"/>
      </li>
      <li>
        <label for="message">GitHub ID</label>
        <textarea rows="6" id="00N50000004Yd6C"></textarea>
      </li>
      <li>
        <button id="form-submit" type="submit">Submit</div>
      </li>
    </ul>
  </form>
</div>

<h3 id="if-you-are-a-developer-first-check-out-this-list-of-our-open-source-projects">If you are a Developer, first check out <a href="/projects.html">this list of our open source projects</a></h2>
<h3 id="information-on-contributing-our-commitments-to-privacy-and-manifesto-all-live-in-the-scores-labs-github-repository">Information on <a href="/contributing.md">Contributing</a>, our commitments to <a href="/DataPrivacyAgreement.html">Privacy</a>, and <a href="/README.md">manifesto</a> all live in the <a href="https://github.com/AmericaSCORESBayArea/scoreslabs">Scores Labs Github</a> repository.</h2>

<h3 id="coach-app-flow-title">Attendance App Flow:</h3>
<p>(Use the <em>right</em> and <em>left</em> arrows below to navigate through the flow)</p>
<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="400" height="940" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FrLVZnGjojwlfyNL6byCCZS%2FCoachApp_v3%3Fnode-id%3D1%253A131%26scaling%3Dmin-zoom%26page-id%3D0%253A1" allowfullscreen></iframe>
<p>Example Reporting</p>
<div class='tableauPlaceholder' id='viz1632949438854' style='position: relative'>
<noscript><a href='#'>
<img alt='SCORES Reporting ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DevelopmentDashboards&#47;SCORESReporting&#47;1_rss.png' style='border: none' /></a>
</noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DevelopmentDashboards&#47;SCORESReporting' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DevelopmentDashboards&#47;SCORESReporting&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>
<script type='text/javascript'>
var divElement = document.getElementById('viz1632949438854');
var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1016px';vizElement.style.height='991px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<!-- /.row -->

<!-- Pagination -->
<!-- <ul class="pagination justify-content-center">
<li class="page-item">
  <a class="page-link" href="#" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span>
  </a>
</li>
<li class="page-item">
  <a class="page-link" href="#">1</a>
</li>
<li class="page-item">
  <a class="page-link" href="#">2</a>
</li>
<li class="page-item">
  <a class="page-link" href="#">3</a>
</li>
<li class="page-item">
  <a class="page-link" href="#" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
    <span class="sr-only">Next</span>
  </a>
</li>
</ul> -->

